.dich-vu{
    margin-top: 5rem;
}
.dich-vu .container{
    margin-left: 11rem;
}
.dich-vu #dv{
    border: 1px solid #ebebeb;
    margin: 0 0 26px 0;
    width: 48%;
}
.dich-vu #dv button{
    width: 100px;
    background-color: #bf2e1b;
    border: 0;
    border-radius: 20px;
    color: white;
    margin-top: 25px;
}
.dich-vu #dv h6{
    margin-top: 25px;
}
/* .dich-vu .container .box-dv h1{
    margin: 0 0 1rem 0 ;
} */
.dich-vu #dv  p{
    
    width: 75%;
    margin: auto;
} 
.dich-vu #dv img{
    width: 100%;
}

.dich-vu-u{
    margin-top:  -0.35rem;
    margin-left: 1rem;
    position: relative;
    
}
.dich-vu-u{
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #bf2e1b;
    
}
.dich-vu {
    position: relative;
}
.dich-vu .zone{
    position: absolute;
    top: 40%;
    right: 0;
}
.zone li{
    list-style: none;
    margin-bottom: 0.5rem;
}
.zone img{
    border: 0;
    border-radius: 5px;
}

/* .dich-vu{display: none;} */