#gt{
    margin-top: 5rem;
}
 .banner-gt .banner-text span{
    color: #bf2e1b;
    font-size: 2.5rem;
}
 .gt-header p{
    margin:0   0 0 120px;
}
 .banner-gt{

    position: relative;
}
 .banner-gt .banner-text h3{
    position: absolute;
    color: #637f92;
    top: 20px;
    left: 30%;
    font-size: 2.5rem;
}
#gt .khoang-cach{
    /* width: 20px; */
    height: 40px;
}
#gt .gt-menu ul{
    display: flex;
    padding:0  0 20px 120px ;
    /* justify-content: space-around;  */
    margin:0 5rem  0 0;
}
#gt .gt-menu ul li{
    list-style: none;
    background-color: #f7f7f7;
    
}
#gt .gt-menu ul h2{
    color: #445a65;
}
#gt .gt-menu ul a{
    text-decoration: none;
}
#gt .gt-menu ul .gt-menu1{
    padding:0 2rem  0 0 ;
    width: 400px;
    border-right: 1px solid #b6b6b6;
}
#gt .gt-menu li h2:hover{
    color: #be2d1a;
}
#gt .gt-menu ul .gt-menu2{
    width: 150px;
    margin: 0;
    border-right: 1px solid #b6b6b6;
    
}
#gt .gt-menu ul .gt-menu3{
    width: 150px;
    margin: 0;
    border-right: 1px solid #b6b6b6;
    
}
#gt .gt-menu ul .gt-menu4{
    width: 150px;
    border-right: 1px solid #b6b6b6;
    
}
#gt .gt-menu ul .gt-menu5{
    
    padding:0 0 0 2rem   ;
    width: 400px;
}
#gt #gt-banner1 .gt-banner1{
    position: relative;
}
#gt #gt-banner1 .gt-banner1 .gt-container{
    position: absolute;
    width: 95%;
    top: 40%;
    
}
#gt #gt-banner2 .gt-banner2{
    position: relative;
}
#gt #gt-banner2 .gt-banner2 div{
    position: absolute;
    width: 95%;
    top: 40%;
    right: 35%;
    width: 45%;
}
#gt .duoi-thong-diep{
    position: relative;
}
#gt .duoi-thong-diep .duoi-thong-diep-text{
    position: absolute;
    display: flex;
    left: 10%;
    top: 40%;
}
#gt .duoi-thong-diep #duoi-thong-diep1{
    color: #ffffff;
    font-size: 25px;
}
#gt .duoi-thong-diep #duoi-thong-diep2{
    border: 0;
    border-radius: 40px;
    background-color: #ffffff;
    color: black;
    font-size: 25px;
    width: 26rem;
    margin:0  0  0 15rem;
   
}
#gt .co-cau-to-chuc{
    background-color: #f3f3f3;
}
#gt .co-cau-to-chuc h1{
    padding: 5rem 0 0 0;
    font-size: 36px;
}
#gt .gt-u{
    margin-top:  -0.75rem;
    margin-left: 0.25rem;
    position: relative;
    width: 1.2rem; 
}
#gt .gt-u{
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #bf2e1b;  
}
#gt #gt-u{
    margin-top:  -0.75rem;
    margin-left: 0.25rem;
    position: relative;
    width: 40px; 
}
#gt #gt-u{
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #bf2e1b;
}
#gt .gt-u1{
    margin-top:  0;
    margin-left: 47%;
    position: relative;
}
#gt .gt-u1{
    position: absolute;
    height: 2px;
    width: 60px;
    background-color: #bf2e1b;
}
#gt {
    position: relative;
}
#gt .zone{
    position: absolute;
    top: 11%;
    right: 0;
}