*{margin: 0;padding: 0;}
#tin-tuc .container .text-tin-tuc{
    display: flex;
}
#tin-tuc .container .text-tin-tuc li{
    list-style: none;
    margin-left: -2rem;
    margin-right: 4rem;
}
#tin-tuc .container .text-tin-tuc a{
    text-decoration: none;
    color: black;
}
/* #tin-tuc .container .text-tin-tuc:hover{
    color: red;
} */
#tin-tuc .box-tin-tuc{
    position: relative;
}
#tin-tuc .box-tin-tuc .tin-tuc-u{
    position: absolute;
    top: -3px;
    width: 200px;
    height: 3px;
    background-color: #c94737;
}
#tin-tuc .box-tin-tuc{
    border-top: 1px solid #d9d9d9;
    padding-top: 3rem;
}
#tin-tuc .box-tin-tuc #item-img-tin-tuc img{
    margin: 0;
}
#tin-tuc .box-tin-tuc #item-img-tin-tuc{
    width: 350px;
    height: 380px;
    margin: 2rem;
    background-color: #d9d9d9;
}
#tin-tuc .page-tin-tuc{
    margin:0 0 0 50rem;
}
#tin-tuc .page-tin-tuc .page-item{
    margin-right: 0.5rem;
}
#tin-tuc {
    position: relative;
}
#tin-tuc .zone{
    position: absolute;
    top: 30%;
    right: 0;
}
#tin-tuc{display: none;}