*{margin: 0;padding: 0;}
#tuyen-dung .box-tuyen-dung{
    position: relative;
}
#tuyen-dung .box-tuyen-dung .tuyen-dung-u{
    position: absolute;
    background-color: #bf2e1b;
    width: 55px;
    height: 2px;
    bottom: 0;
    
}
#tuyen-dung .container .row {
    margin-top: 3rem;
}
#tuyen-dung .container .row #nd-tuyen-dung{
    width: 24%;
    margin: 0.5rem;
}
#tuyen-dung .container .row #nd-tuyen-dung .text-tuyen-dung{
    background-color: #f2f2f2;
    height: 180px;
}
#tuyen-dung .container .row #nd-tuyen-dung .text-tuyen-dung h3{
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
#tuyen-dung .container .row #nd-tuyen-dung .text-tuyen-dung p{
    padding-left: 1rem;
    padding-right: 1rem;
}
#tuyen-dung .page-tin-tuc{
    margin:0 0 0 55rem;
}
#tuyen-dung .page-tin-tuc .page-item{
    margin-right: 0.5rem;
}
#tuyen-dung {
    position: relative;
}
#tuyen-dung .zone{
    position: absolute;
    top: 30%;
    right: 0;
}
#tuyen-dung{display: none;}